@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  background-color: white;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}
